<div class="modal fade" id="addExistingAccount" tabindex="-1" role="dialog" aria-labelledby="addExistingAccountLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addExistingAccountLabel">Add Existing Bot Account</h4>
            </div>
            <div class="modal-body">
                <form id="addExistingAccountForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Account Name</label>
                        <input type="email" class="form-control" id="accountName" placeholder="Account Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Account Password</label>
                        <input type="password" class="form-control" id="accountPassword" placeholder="Account Password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="addExistingAccountSave" type="button" class="btn btn-primary">Save Account</button>
            </div>
        </div>
    </div>
</div>
