@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        var tryingToReconnect = false;
        var shouldAutoReconnect = true;

        $(function () {

            var connection = $.hubConnection();
            connection.url = 'http://localhost:8080/signalr';
            var botServerHubProxy = connection.createHubProxy('BotServerHub');

            // Custom server message handlers
            botServerHubProxy.on('existingBotAccounts', function (accounts) {
                // clear all table rows
                $("#botAccounts tbody tr").remove();

                // go through all accounts and add data to the table
                $.each(accounts, function (index, value) {
                    var row = $("<tr id='" + value.ClientId + "'><td>" + value.AccountName + "</td><td>" + value.CharacterName + "</td><td>" + value.CharacterLevel + "</td><td>" + value.ConnectionStatus + "</td><td></td><td>" + buildAccountDropdown() + "</td></tr>")
                    $("#botAccounts tbody").append(row);
                });
            });
            botServerHubProxy.on('botAccountUpdate', function (account) {
                // Get the row for this bot account
                var row = $("#botAccounts tbody").find("#" + account.ClientId);
                // Update the row html for this bot account
                $(row).html("<td>" + account.AccountName + "</td><td>" + account.CharacterName + "</td><td>" + account.CharacterLevel + "</td><td>" + account.ConnectionStatus + "</td><td>" + account.CurrentActivity + "</td><td>" + buildAccountDropdown() + "</td>");
            });

            // Start the connection
            // connection.logging = true; // turns on client side logging
            connection.start()
                .done(function () {
                    console.log('Now connected, connection ID=' + connection.id);
                    // Request the existing bot accounts on the server
                    botServerHubProxy.invoke('requestExistingBotAccounts');
                })
                .fail(function () { console.log('Could not Connection!'); });

            // add existing account handler
            $("#addExistingAccountSave").click(function () {
                var accountName = $("#addExistingAccountForm input#accountName").val();
                var password = $("#addExistingAccountForm input#accountPassword").val();
                botServerHubProxy.invoke('addExistingBotAccount', accountName, password);
                $('#addExistingAccount').modal('hide')
            });

            // connect all clients handler
            $("#connectAll").click(function () {
                botServerHubProxy.invoke('connectAllClients');
            });

            // login a specific account
            $(document).on("click", "a#loginAccount", function () {
                var id = $(this).closest("tr").attr("id");
                botServerHubProxy.invoke('ConnectAccount', id);
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
        // Builds the dropdown action menu for bot accounts
        function buildAccountDropdown() {
            return '<div class="dropdown">' +
                    '<button class="btn btn-default dropdown-toggle" type="button" id="actionMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Actions<span class="caret"></span></button>' +
                    '<ul class="dropdown-menu" aria-labelledby="dropdownMenu1"><li><a href="#" id="loginAccount">Login</a></li><li><a href="#" id="logoutAccount">Logout</a></li></ul></div>';
        }
    </script>
}

<div style="margin-top: 20px;"></div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" id="connectAll">Login All Clients</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Bot Accounts</h3>
        <table id="botAccounts" class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Character Name</th>
                    <th>Level</th>
                    <th>Status</th>
                    <th>Activity</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@Html.Partial("AddExistingAccount")